/* Comentário no css */
body {
    color: rgb(161, 148, 148);
    margin: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    background-color: rgb(94, 12, 172);
    margin: 0px;
    padding: 20px;
    color: white;
    text-align: center;
}

nav {
    background-image: url('./images/linguagens-front-end.webp');
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 400px;
}

article {
    width: 30%;
    display: inline-block;
    vertical-align: top;
}